body {
  margin: 0;
  background-color: #ffffff;
}

header, .header {
  padding: 5px;
  margin: 0;
  background-color: #1d1f20;
}

.color0 {
  width: 100px;
  height: 100px;
  margin: 5px;
  background-color: red;
  display: inline-block;
}

.color1 {
  width: 100px;
  height: 100px;
  margin: 5px;
  background-color: yellow;
  display: inline-block;
}

.color2 {
  width: 100px;
  height: 100px;
  margin: 5px;
  background-color: green;
  display: inline-block;
}

.color3 {
  width: 100px;
  height: 100px;
  margin: 5px;
  background-color: blue;
  display: inline-block;
}

html {
	background: #1d1f20;
}

.header {
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 4rem;
	font-weight: 200;
	letter-spacing: 2px;
	text-align: center;
	color: #f35626;
	background-image: linear-gradient(92deg, #f35626, #feab3a);
  
  background-clip: text;
	fill: transparent;
  animation: hue 10s infinite linear;
  
  -webkit-background-clip: text;
	-webkit-fill: transparent;
	-webkit-animation: hue 10s infinite linear;
}

@keyframes hue {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(-360deg);
  }
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}