body {
  margin: 0;
}

header, h1 {
  padding: 5px;
  margin: 0;
  background-color: paleturquoise;
  color: burlywood;
}

.color0 {
  width: 100px;
  height: 100px;
  margin: 5px;
  background-color: red;
  display: inline-block;
}

.color1 {
  width: 100px;
  height: 100px;
  margin: 5px;
  background-color: yellow;
  display: inline-block;
}

.color2 {
  width: 100px;
  height: 100px;
  margin: 5px;
  background-color: green;
  display: inline-block;
}

.color3 {
  width: 100px;
  height: 100px;
  margin: 5px;
  background-color: blue;
  display: inline-block;
}