#btnZone {
  text-align: center;
}

#boxes {
  text-align: center;
}

.box {
  width: 75px;
  height: 75px;
  border: 1px solid #000;
  border-bottom: 4px solid #000;
  border-radius: 10px;
  margin: 5px;
  display: inline-block;
}

.box:hover {
  filter: brightness(80%);
  cursor: pointer;
}

.red {
  background-color: #ff0000;
}

.yellow {
  background-color: #ffff00;
}

.green {
  background-color: #008000;
}

.blue {
  background-color: #0000ff;
}

#cntZone, #btnZone {
  display: inline-block;
  margin: 16px;
}

#btnZone button {
  display: block;
  margin: 16px 0;
}

body {
  margin: 0;
  background-color: #ffffff;
  text-align: center;
}

header, .header {
  padding: 5px;
  margin: 0;
  background-color: #1d1f20;
}

html {
  background: #1d1f20;
  user-select: none;
}

.header {
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 4rem;
	font-weight: 200;
	letter-spacing: 2px;
	text-align: center;
	color: #f35626;
	background-image: linear-gradient(92deg, #f35626, #feab3a);
  
  background-clip: text;
	fill: transparent;
  animation: hue 10s infinite linear;
  
  -webkit-background-clip: text;
	-webkit-fill: transparent;
	-webkit-animation: hue 10s infinite linear;
}

@keyframes hue {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(-360deg);
  }
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}